{% extends 'base.html.twig' %}
{% block title %}Hello AgenceController!{% endblock %}
{% block body %}  

    <section clase="voiture">
         {% for voiture in voitures %}
            <voiture>
                <h2>{{voiture.titre}}</h2> {#Interpolation de twig #}
                <div class="metadata">mise en ligle le 01/12/20</div>
                <div class="content">
                    <img src="{{voiture.image}}" alt="">
                    {{voiture.description | raw}}
                    {{voiture.prix | raw}}
                    <a href="{{ path('agence_show',{'id':voiture.id}) }}" class="btn btn-primary">lire la suite</a>
                </div>
            </voiture>
       {% endfor %}
    </section>
{% endblock %}
